*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}


#map{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
}

/* Metodo del tutorial: */
/* .mousePosition{
    position: absolute;
    top: auto;
    right: auto;
    /* bottom: 5px; 
    padding: 5px; 
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    transform: translateX(-50%);
} */

/* Metodo alternatio de despliegue de coordenadas */
.mouse-coordinates {
    position: absolute;
    top: auto;
    right: auto;
    /* padding: 5px;  */
    bottom: 5px;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    transform: translateX(-50%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/*----------------------------------------------------------------------------------------------------
    Creando popups para despliegue de información de capas...
----------------------------------------------------------------------------------------------------*/

.ol-popup{
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 260px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.781); /* Agrega el efecto de sombra */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
}

/* Estilos para el popup cuando está visible (PONER OJO EN ESTE CODIGO, FUNCIONA PERO SOLO LA PRIMERA VEZ*/
.ol-popup.visible {
    opacity: 1;
}

.ol-popup:after, .ol-popup:before{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    
    
}

.ol-popup:after{
    border-top-color:white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;    
}

.ol-popup:before{
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

 .ol-popup-closer{
    text-decoration: double;
    position: absolute;
    top: 5px;
    right: 6px;
}
.ol-popup-closer:after{
    content: " X ";
} 

/*------------------------------------------------------------------------------------------------------*/
/*Propiedades de tablas dentro del popup: creando lineas y bordes para separar el texto*/

.popup-table {
    border-collapse: collapse;
    border: 1px solid black;
    
}
  
.popup-table th,
.popup-table td {
padding: 8px;
border: 1px solid black;
}
  

/*Animaciones de texto----------------------------------------------------------------------------------*/
.text-animation {
    position: relative;
    animation: fading 8s ease-in-out;
}

@keyframes fading {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
}

/* Creando una ventana emergente con mensaje para el usuario...*/
.popup, .welcome-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffc9;
    width: 300px;
    padding: 20px;
    border: 3px solid #000000cc;
    text-align: center;
    animation: fading 1s ease-in-out;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.781); /* Agrega el efecto de sombra */
}


.popup p, .welcome-popup p {
    margin-bottom: 20px;
}


.popup button.accept-button, .welcome-popup button.accept-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.popup button.skip-button {
    padding: 10px 20px;
    background-color: #cccccc;
    color: #000000;
    border: none;
    cursor: pointer;
} 

/*-------------------------------------------------------------------------------------------------------------*/
/*Definiendo propiedades de botones de esquina superior izquierda...*/

.myButton{
    background-color: rgba(22, 85, 167, 0.6);
    color: white;
    font-weight: 700;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    border: none;
    align-items: center;
}

.myButton:hover{
    background-color: rgb(0, 60, 136, 1);
}

.myButton.clicked{
    background-color: rgba(22, 170, 35, 0.8);
}

.myButton.clicked:hover{
    background-color: rgba(22, 170, 35, 1);
}

.homeButtonDiv{
    position: relative;
    display: block;
    margin: 10px auto auto 10px;
    max-width: 50px; /* Ajusta este valor según el ancho deseado */
}

.fsButtonDiv{
    position: relative;
    display: block;
    margin: 10px auto auto 10px;
    max-width: 50px; /* Ajusta este valor según el ancho deseado */
}

.featureInfoDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    max-width: 50px; /* Ajusta este valor según el ancho deseado */
}

.lengthButtonDiv{
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    max-width: 40px; /* Ajusta este valor según el ancho deseado */
}

.areaDiv{
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    max-width: 40px; /* Ajusta este valor según el ancho deseado */
}

/* start: iniciar estilo de medida (Measure Styling) */

.ol-tooltip{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
}

.ol-tooltip-measure{
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static{
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static::before{
    border-top-color: #ffcc33;

}

.ol-dragbox{
    border: 2px dashed rgba(0, 0, 0, 0.603);
    background-color: rgba(13, 206, 196, 0.137);
}

.ziButtonDiv{
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    max-width: 40px; /* Ajusta este valor según el ancho deseado */
}

.zoButtonDiv{
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    max-width: 40px; /* Ajusta este valor según el ancho deseado */
}

.myButtonDiv{
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    max-width: 40px; /* Ajusta este valor según el ancho deseado */
}
/* Estilo para el popup */
/* .infbtnpopup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
} */
  

/* Definiendo propiedades para funciones Query Atribute, despliegue de información a nivel de tablas etc...*/

.attQueryDiv{
    position: absolute;
    display: none;
    margin: 70px auto auto 45px;
    /*padding: 10px;*/
    width: 250px;
    /*height:250;*/
    background-color: rgba(255, 255, 255, 0.9);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.938);
    /*z-index: 4;*/
    /*overflow: scroll;*/
}

.headerDiv{
    background-color: midnightblue;
    height: 35px;
    text-align: center;
    line-height: 35px;
    
}

#headerDiv label{
    color: white;
    margin: 10px 10px 0px 10px;
}

.attQueryDiv select{
    width:  220px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 0px auto 0px 10px ;
}

.attQueryDiv input{
    width: 220px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 0px auto 0px 10px;
}

.attQueryDiv label{
    color: grey;
    margin: 10px 10px 0px 10px;
}

.attQueryDiv label:nth-child(1){
    margin: 10px;
    font-weight: bold;
}

.attQryRun{
    color: white;
    background-color: green;
    border-radius: 3px;
    border: 1px solid darkgreen;
    height: 35px;
    width: 50px;
    margin: 10px;
}

